{% extends 'base.html.twig' %}

{% block title %}Attend | Attendance{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="js/index.js"></script>
{% endblock %}

{% block styles %}
    {{ parent() }}
    <style>
        a.pdf {
            color: green;
            text-decoration: underline;
        }
    </style>
{% endblock %}

{% block main %}

    <div id="tabs">
        <ul>
            <li><a href="#attendance-tab">Attendance</a></li>
            <li><a href="#signin-tab">Sign-In</a></li>
        </ul>

        <!-- Attendance Tab -->
        <section id="attendance-tab">

            <header class="page-header">
                <h2>Attendance</h2>
                <div class="controls">
                    Week Of: <input type="text" name="week-of"/>
                    <a class="pdf" id="pdf-attendance" href="pdf.php?attendance" target="_blank">PDF</a>
                </div>
            </header>

            <section class="attendance-page-schedules"></section>
            {% verbatim %}
            <script id="attendance-table" type="text/x-handlebars-template">
                <table class="display bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Mon<br/>{{dates.[0]}}</th>
                        <th>Tue<br/>{{dates.[1]}}</th>
                        <th>Wed<br/>{{dates.[2]}}</th>
                        <th>Thu<br/>{{dates.[3]}}</th>
                        <th>Fri<br/>{{dates.[4]}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each students}}
                        <tr>
                            <td>{{this.FamilyName}}, {{this.FirstName}}</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            </tr>
                    {{/each}}
                </tbody>
                </table>
            </script>
            {% endverbatim %}

        </section>

        <section id="signin-tab">
            <header class="page-header">
                <h2>Sign In</h2>
                <div class="controls">
                    Week Of: <input type="text" name="week-of"/>
                    <a class="pdf" id="pdf-signin" href="pdf.php?signin" target="_blank">PDF</a>
                </div>
            </header>

            <section class="attendance-page-signin"></section>
        </section>
    </div>
{% endblock %}

