{% extends 'base.html.twig' %}

{% block title %}Attend | Attendance{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="js/index.js"></script>
{% endblock %}

{% block main %}

    <div id="tabs">
        <ul>
            <li><a href="#attendance-tab">Attendance</a></li>
            <li><a href="#signin-tab">Sign-In</a></li>
        </ul>

        <!-- Attendance Tab -->
        <section id="attendance-tab">

            <header class="page-header">
                <h2>Attendance</h2>
                <div class="controls">
                    Week Of: <input type="text" name="week-of"/>
                    <a id="pdf-attendance" href="pdf.php?attendance">PDF</a>
                </div>
            </header>

            <div class="attendance-page-schedules">
                {% for classroom in classrooms %}
                    <h3>{{ classroom.label }}</h3>
                    <table class="display compact attendance-table" data-classroom-id="{{ classroom.id }}">
                        <thead>
                        <tr>
                            <th>Student</th>
                            <th>Mon</th>
                            <th>Tue</th>
                            <th>Wed</th>
                            <th>Thu</th>
                            <th>Fri</th>
                            <th>Summary</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for student in classroom.students %}
                            <tr>
                                <td> {{ student.family_name }}, {{ student.first_name }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
            </div>
        </section>

        <section id="signin-tab">
            <h2></h2>
        </section>
    </div>
{% endblock %}

