{% extends 'partials/base.html.twig' %}

{% block title %}Attend | Admin{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="js/admin.js"></script>
{% endblock %}

{% block main %}
    <div id="tabs">
        <h2>Admin</h2>
        <ul>
            <li><a href="#users-tab">Users</a></li>
            <li><a href="#database-tab">Database</a></li>
            <li><a href="#security-tab">Security</a></li>
            <li><a href="#permissions-tab">Permissions</a></li>
        </ul>

        <section class="tab" id="accounts-tab">
            <p>This page allows administrators to manage users authorized to use Attend.</p>

            <table id="accounts-table" class="display compact">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                {% for acct in accounts %}
                    <tr data-id="{{ acct.Id }}">
                        <td>{{ acct.Id }}</td>
                        <td><a data-user-id="{{ acct.Id }}" href="javascript:void(0)">{{ acct.Username }}</a></td>
                        <td>{{ acct.email }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="buttons">
                <div class="record-buttons"></div>
                <div class="table-buttons"></div>
            </div>

            <hr>

            <section class="dialog" id="accountPropsDlg" title="Account Properties">
                <form action="" autocomplete="off">
                    <input type="hidden" name="id">
                    <div class="form-box">
                        <label for="">Username</label>
                        <input type="text" name="username" placeholder="Username">
                    </div>
                    <div class="form-box">
                        <label for="">Password</label>
                        <input type="password" name="password" placeholder="Password">
                    </div>
                    <div class="form-box">
                        <label for="">Email</label>
                        <input type="email" name="email" placeholder="Email address">
                    </div>
                    {#                    <div class="form-box"> #}
                    {#                        <label for="">Role</label> #}
                    {#                        <select name="role" id=""> #}
                    {#                            <option value="">Select a role</option> #}
                    {#                            <option value="user">User</option> #}
                    {#                            <option value="admin">Admin</option> #}
                    {#                        </select> #}
                    {#                    </div> #}
                </form>
            </section>
        </section>

        <section class="tab" id="database-tab">
            <form name="backup-db" action="backup-db">
                <p>Export database to a local JSON file</p>
                <button name="backup">Backup</button>
            </form>
            <hr>
            <form name="restore-db" action="restore-db">
                <p>Restore database from a previously-exorted JSON file</p>
                <input type="file" name="restore-file">
                <button name="restore">Restore</button>
            </form>
        </section>

        <section class="tab" id="security-tab">
            <h2>Login Attempts</h2>
            <table class="compact display">
                <thead>
                    <tr>
                        <td>Username</td>
                        <td>Attempted At</td>
                        <td>Pass</td>
                        <td>Note</td>
                    </tr>
                </thead>
                <tbody>
                {% for login in logins %}
                    <tr>
                        <td>{{ login.Username }}</td>
                        <td>{{ login.AttemptedAt|date }}</td>
                        <td>{{ login.Pass }}</td>
                        <td>{{ login.Note }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>

        <section class="tab" id="permissions-tab">
            <h2>Permissions</h2>
            <ul>
                {% for p in permissions %}
                    <li>{{ p.id }}: <b>{{ p.slug }}</b> - {{ p.description }}</li>
                {% endfor %}
            </ul>
        </section>
    </div>
{% endblock %}
